extends layout

block content
  nav.navbar.navbar-light.bg-light.border-bottom(style="position: fixed;width: 100%;z-index:1")
    a.navbar-brand
      i.iconfont.icon-logo.text-secondary(style="font-size:1.2rem")
      span.ml-2 Koa2-Restful
  .container-fluid
    .row
      .col-md-3.col-xl-2
        ul#menu.nav.flex-column.border-right(style="position:fixed;top: 3.5rem;width: 12rem;font-size:12px")
          each item in routerInfo
            li.nav-item 
              a.nav-link.pb-0(href=`#${item.introduction}`)= item.introduction
      .col-md-7.col-xl-9
        div
          each item in routerInfo
            div.pt-2.border-top(id=`${item.introduction}`)
              h5.pl-2.mt-5.text-danger.card-title(style="border-left:5px solid #ccc")= item.introduction
              .card.mt-2.mb-2
                .card-body.p-1
                  h7.card-subtitle.mb-2.text-muted= item.url
              h6 参数
              if item.args.length == 0
                .alert.alert-light.p-1 无参数设置
              else
                table.table.table-bordered.table-sm
                  thead
                    tr
                      th(scope="col") 参数名
                      th(scope="col") 是否必须
                      th(scope="col") 类型
                      th(scope="col") 描述
                  tbody
                    each args in item.args
                      tr
                        td(scope="row")= args.name
                        td= args.must
                        td= args.type
                        td= args.text
              
