doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://at.alicdn.com/t/font_706222_fgbzm6w54lk.css')
  body
    block content
